$colorThemeAccentDefault: #6475f7;    
$colorThemeAccentMuted: #3142c4;    
$colorThemeAccentSubtle: #060818;    
$colorThemeFgDefault: #ffffff;    
$colorThemeFgMuted: #eeeeee;    
$colorThemeFgSubtle: #9e9e9e;    
$colorThemeFgOpacity80: #1f1f1fcc;    
$colorThemeFgOpacity70: #1f1f1fb2;    
$colorThemeFgOpacity60: #1f1f1f99;    
$colorThemeFgOpacity50: #1f1f1f80;    
$colorThemeFgOpacity40: #1f1f1f66;    
$colorThemeFgOpacity20: #1f1f1f33;    
$colorThemeFgOpacity5: #1f1f1f0d;    
$colorThemeFgOpacity1: #1f1f1f03;    
$colorThemeBgSurface: #1f1f1f;    
$colorThemeBgMuted: #757575;    
$colorThemeBgSubtle: #323232;    
$colorColorsMint50: #f9fdfe;    
$colorColorsMint100: #f4fafd;    
$colorColorsMint200: #e9f6fa;    
$colorColorsMint300: #ddf1f8;    
$colorColorsMint400: #d2edf5;    
$colorColorsMint500: #c7e8f3;    
$colorColorsMint600: #9fbac2;    
$colorColorsMint700: #778b92;    
$colorColorsMint800: #505d61;    
$colorColorsMint900: #282e31;    
$colorColorsMint950: #171a1c;    
$colorColorsGreen50: #f4fbf7;    
$colorColorsGreen100: #e8f6ee;    
$colorColorsGreen200: #d1eedd;    
$colorColorsGreen300: #a3ddbc;    
$colorColorsGreen400: #5dc389;    
$colorColorsGreen500: #18a957;    
$colorColorsGreen600: #11763d;    
$colorColorsGreen700: #0a4423;    
$colorColorsGreen800: #052211;    
$colorColorsGreen900: #021109;    
$colorColorsYellow50: #fffbf5;    
$colorColorsYellow100: #fff8eb;    
$colorColorsYellow200: #fff1d7;    
$colorColorsYellow300: #ffe4af;    
$colorColorsYellow400: #ffcf74;    
$colorColorsYellow500: #ffbb38;    
$colorColorsYellow600: #b38327;    
$colorColorsYellow700: #664b16;    
$colorColorsYellow800: #33250b;    
$colorColorsYellow900: #191306;    
$colorColorsRed50: #fdf1f4;    
$colorColorsRed100: #fce8ec;    
$colorColorsRed200: #f9d0d9;    
$colorColorsRed300: #f2a2b3;    
$colorColorsRed400: #e95c7b;    
$colorColorsRed500: #df1642;    
$colorColorsRed600: #9c0f2e;    
$colorColorsRed700: #59091a;    
$colorColorsRed800: #2d040d;    
$colorColorsRed900: #160207;    
$colorColorsGrey50: #fcfcfc;    
$colorColorsGrey100: #f5f5f5;    
$colorColorsGrey200: #eeeeee;    
$colorColorsGrey300: #e0e0e0;    
$colorColorsGrey400: #bdbdbd;    
$colorColorsGrey500: #9e9e9e;    
$colorColorsGrey600: #757575;    
$colorColorsGrey700: #616161;    
$colorColorsGrey800: #424242;    
$colorColorsGrey900: #323232;    
$colorColorsGrey950: #1f1f1f;    
$colorColorsBlue50: #eceefe;    
$colorColorsBlue100: #d8ddfd;    
$colorColorsPurple50: #eeecfb;    
$colorColorsPurple100: #ddd9f7;    
$colorColorsPurple200: #bbb2ef;    
$colorColorsPurple300: #9a8ce8;    
$colorColorsPurple400: #7865e0;    
$colorColorsPurple500: #563fd8;    
$colorColorsPurple600: #4532ad;    
$colorColorsPurple700: #342682;    
$colorColorsPurple800: #221956;    
$colorColorsPurple900: #110d2b;    
$colorColorsPurple950: #090616;    
$colorColorsBlue200: #b1bafb;    
$colorColorsBlue300: #8b98f9;    
$colorColorsBlue400: #6475f7;    
$colorColorsBlue500: #3d53f5;    
$colorColorsBlue600: #3142c4;    
$colorColorsBlue700: #253293;    
$colorColorsBlue800: #182162;    
$colorColorsBlue900: #0c1131;    
$colorColorsBlue950: #060818;    
$colorThemeBorderDefault: #323232;    
$colorThemeOverlayBg: #171717;    
$colorThemeFgOnAccent: #ffffff;    
$colorThemeAccentEmphasis: #3d53f5;    
$colorThemeAccentDisabled: #757575;    
$colorThemeWarningDefault: #ffcf74;    
$colorThemeWarningSubtle: #33250b;    
$colorThemeWarningMuted: #b38327;    
$colorThemeInfoDefault: #3142c4;    
$colorThemeInfoSubtle: #d8ddfd;    
$colorThemeInfoMuted: #8b98f9;    
$colorThemeInfoEmphasis: #3d53f5;    
$colorThemeErrorDefault: #e95c7b;    
$colorThemeErrorSubtle: #2d040d;    
$colorThemeErrorMuted: #9c0f2e;    
$colorThemeSuccessDefault: #5dc389;    
$colorThemeSuccessSubtle: #052211;    
$colorThemeSuccessMuted: #11763d;    
$colorThemeFgOnDisabled: #e0e0e0;    
$colorThemeFgDisabled: #757575;    
$colorThemeSuccessEmphasis: #18a957;    
$colorThemeErrorEmphasis: #df1642;    
$colorThemeWarningEmphasis: #ffbb38;    
$colorThemeInputBackground: #ffffff;    
$colorThemeInputBorderDisabled: #eeeeee;    
$colorThemeInputBorderDefault: #e0e0e0;    
$colorThemeBgCanvas: #171717;    
$colorColorsRed950: #090103;    
$colorThemeInputFgDisabled: #e0e0e0;    
$colorColorsGreen950: #010905;    
$colorColorsYellow950: #0c0903;    
$colorThemeInputText: #424242;    
$colorThemeInputPlaceholder: #9e9e9e;    
$colorThemeWarningOnWarning: #171717;    
$colorThemeInfoOnInfo: #ffffff;    
$colorThemeErrorOnError: #ffffff;    
$colorThemeSuccessOnSuccess: #ffffff;    
$colorThemeFgOnDark: #ffffff;    
