
.typographyTypographyColossusBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 122px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

.typographyTypographyColossusRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 122px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

.typographyTypographyUberBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 102px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

.typographyTypographyUberRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 102px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

.typographyTypographyHeroBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

.typographyTypographyHeroRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

.typographyTypographyDisplayBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 71px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

.typographyTypographyDisplayRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 71px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

.typographyTypographyHeadline1Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

.typographyTypographyHeadline1Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 59px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

.typographyTypographyHeadline2Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 49px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

.typographyTypographyHeadline2Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

.typographyTypographyHeadline3Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 41px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

.typographyTypographyHeadline3Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

.typographyTypographyHeadline4Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

.typographyTypographyHeadline4Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

.typographyTypographyHeadline5Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

.typographyTypographyHeadline5Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

.typographyTypographyLeadBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyLeadRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyBodyBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyBodyRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographySmallBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographySmallRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyCaptionBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyCaptionRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyXsmallBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyXsmallRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyTinyBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyTinyRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocumentationHeadlinesBoldLarge 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocumentationHeadlinesBoldSmall 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocumentationHeadlinesRegularLarge 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocumentationHeadlinesRegularSmall 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocumentationBodyBoldLarge 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocumentationBodyBoldSmall 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocumentationBodyRegularLarge 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocumentationBodyRegularSmall 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyButtonXlargeBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 150%;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

.typographyTypographyButtonXlargeRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 150%;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

.typographyTypographyButtonLargeBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

.typographyTypographyButtonLargeRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

.typographyTypographyButtonNormalBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

.typographyTypographyButtonNormalRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

.typographyTypographyInputLargeBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyInputLargeRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyInputNormalBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTypographyInputNormalRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocumentationHeadlinesXl 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 112px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDocumentationBodyXl 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 112px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyColossusBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 122px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyColossusRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 122px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyUberBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 102px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyUberRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 102px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyHeroBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyHeroRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyDisplayBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 71px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyDisplayRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 71px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyHeadline1Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyHeadline1Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 59px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyHeadline2Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 49px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyHeadline2Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyHeadline3Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 41px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyHeadline3Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 110%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyHeadline4Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyHeadline4Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyHeadline5Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyHeadline5Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: -0.01em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyLeadBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyLeadRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyBodyBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyBodyRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographySmallBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographySmallRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyCaptionBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyCaptionRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyXsmallBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyXsmallRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyTinyBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyTinyRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocumentationHeadlinesBoldLarge 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocumentationHeadlinesBoldSmall 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocumentationHeadlinesRegularLarge 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocumentationHeadlinesRegularSmall 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocumentationBodyBoldLarge 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocumentationBodyBoldSmall 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocumentationBodyRegularLarge 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocumentationBodyRegularSmall 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyButtonXlargeBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 150%;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyButtonXlargeRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 150%;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyButtonLargeBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyButtonLargeRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyButtonNormalBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyButtonNormalRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.03em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyInputLargeBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyInputLargeRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyInputNormalBold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTypographyInputNormalRegular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocumentationHeadlinesXl 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 112px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDocumentationBodyXl 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 112px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

